.root {
    -fx-background-color: linear-gradient(to right, #3CA55C, #B5AC49);
}

.button {
    -fx-background-color: #EDE574;

    -fx-font-size: 100%;
    -fx-font-weight: bold;
}

#btAnnStat {
    -fx-background-color: #b6ce2d;
}


#lbDicts, #lbTexts {
    -fx-font-size: 200%;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-text-fill: white;
}

.label{
    -fx-font-size: 150%;
    -fx-text-fill: #312e2e;
}

.check-box{
    -fx-font-size: 100%;
    -fx-font-style: italic;
    -fx-text-fill: #312e2e;
}

.menu-bar{
    -fx-background-color: #b1d723;
    -fx-font-size: 80%;
}
.menu-button:hover, .menu-button:focused, .menu-button:showing{

    -fx-background-color: #8aa719;
}

.menu-item:focused {
    -fx-background-color: #8aa719;
}

.context-menu {
    -fx-background-color: #b1d723;
    -fx-background-insets: 0, 1, 2;
}

.column-header{
    -fx-background-color: #d8ff96;
    -fx-font-size: 70%;
}

.list-view, .list-view:hover{
    -fx-background-color: #b1d723;
}

.list-cell:hover{

    -fx-background-color: #b1d723;
}
.list-cell:selected{

    -fx-background-color: #8aa719;
}
